---
layout: default
title: main-page
class: index
---

<body class="home page page-id-1512 page-parent page-template page-template-single-page-php">
  <main id="main" role="main">

    <div id="home">
      <div id="superslider_loading"></div>
      <div id="superslider_home">
        <nav class="slides-navigation">
          <a href="#" class="next">Next</a>
          <a href="#" class="prev">Previous</a>
        </nav>
        <ul class="slides-container">
          <!--imagem 1-->
          <li>
            <img src={{site.data.pagina-index.background_images.insignya}} data-0="top:0px;" data-1500="top:650px;"/>
            <div class="slide-caption" data-0='transform:scale(1); top:0px;' data-1400='transform:scale(0.5); top:-100px;'  >
              <img src=assets/sites/insig/theme/images/insignia_logo_2f1d9.svg?19c4a91e3b6c2052334274698ecdb494 alt="Insignia capital" width="534" height="486" class="alignnone size-full" />
            </div>
            <div id="capital-ideas" class="slide-caption" data-0='transform:scale(1); top:30px;' data-1400='transform:scale(0.5); top:-10px;'  style="display:none;">
              <img src=assets/sites/insig/theme/images/capital_ideasb285.svg?d5a1004d5f3c04de2f7fba38f2095f9f alt="Insignya capital ideas" width="386" height="386" class="alignnone size-full" />
            </div>
            <script>
            document.getElementById('capital-ideas').setAttribute('data-0', 'transform: scale(1); top:' + (window.innerHeight / 5 + Math.floor(window.innerHeight / 1000) * 100) + "px;");
          </script>
          </li>

          <!--imagem 2-->
          <li>
            <img src={{site.data.pagina-index.background_images.private_equity}} data-0="top:0px;" data-1500="top:650px;"/>
            <div class="slide-caption" data-0='transform:scale(1); top:0px;' data-1400='transform:scale(0.5); top:100px;'  >
              <div class="content editable">
                <h1><a href="#private-equity">Private Equity</a></h1>
              </div>
            </div>
          </li>
          <!--imagem 3-->
          <li>
            <img src={{site.data.pagina-index.background_images.corporate_finance}} data-0="top:0px;" data-1500="top:650px;"/>
            <div class="slide-caption" data-0='transform:scale(1); top:0px;' data-1400='transform:scale(0.5); top:100px;'  >
              <div class="content editable">
                <h1><a href="#corporate-finance">Corporate Finance</a></h1>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <!-- QUEM SOMOS -->
    <div id="quem-somos">
      <div class="parallaxSection skrollable skrollable-between first-seccion" style="background-image: url({{site.data.pagina-index.background_images.quem_somos}}); background-position: 50% 172.142857142857px;" data-bottom-top="background-position: 50% 300px" data-top-bottom="background-position: 50% -250px;" id="parallaxSection3">
        <div>
          <h1 class="accent" style="margin-bottom:100px; text-align: center;text-transform:uppercase;">
            Quem Somos
          </h1>
          <span class="portfolioinner valores">
            <div class="row">
              
              <div id="valor1"  class="padding-small base-transparent">
                <div class="content editable">
                  <p>{{site.data.pagina-index.quem_somos.sobre1}}</p>
                </div>
                <span class="mix plus">
                  <a href="about-us-1.html" style="outline: none;">
                    <img class="icon-plus" src="assets/sites/insig/theme/images/plus77c0.svg?11645f29cc776af7e8c99ad4a15d4562" alt="equipa">
                  </a>
                </span>
              </div>

              <div id="valor2" class="padding-small base-little-transparent">
                <div class="content editable">
                  <p>{{site.data.pagina-index.quem_somos.sobre2}}</p>
                </div>
                <span class="mix plus">
                  <a href="about-us-2.html" style="outline: none;">
                    <img class="icon-plus" src="assets/sites/insig/theme/images/plus77c0.svg?11645f29cc776af7e8c99ad4a15d4562" alt="equipa">
                  </a>
                </span>
              </div>
            </div>
          </div>
      </div>
    </div>




    <!-- EQUIPA -->
    <div id='equipa' class="page small-padding" style='background-color:#ffffff;' >
      <div class="grid">

          <!-- header -->
          <div class="c12 end">
            <h1 class="equipa-header" style="margin-bottom:1em; text-align: center;">EQUIPA</h1>
          </div>

          <!-- tabs -->
          <div class="row">
            <div class="c1"></div>
            <div class="c10">
              <ul class="tabs three-tabs">
                <li><a href="#comissao-executiva">Comissão Executiva</a></li>
                <li><a href="#equipa-investimento">Equipa de Análise</a></li>
                <li class="last-tab"><a href="#conselho-consultivo">Conselho Consultivo</a></li>
              </ul>
            </div>
            <div class="c1 end"></div>
          </div>

          {% assign executivo = site.posts | where: "categoria" , "executivo" %}
          {% assign analista = site.posts | where: "categoria" , "analista" %}
          {% assign consultivo = site.posts | where: "categoria" , "consultivo" %}
          <!-- comissao executiva -->
          <div id="comissao-executiva" class="tabcontent">
            <div class="c12 end">
              <ul class="portfolioinner fotos">
                {% for post in executivo %}                               
                  <li class="mix comissão-executiva">
                    <figure class="rift">
                      <img style="height: 282; width: 282;" src="{{post.background_image_path}}" class="attachment-portfolioThumbCropped wp-post-image" alt="{{post.title}}" />
                      <figcaption class="caption">
                        <a class="box" href="{{post.url}}" >{{post.title}}</a>
                      </figcaption>
                    </figure>
                    <p class="subcaption">{{post.title}}</p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          

          <!-- equipa investimento -->                    
          <div id="equipa-investimento" class="tabcontent">
            <div class="c12 end">
              <ul class="portfolioinner fotos">
                {% for post in analista %} 
                  <li class="mix equipa-de-análise">
                    <figure class="rift">
                      <img width="282" height="282" src="{{post.background_image_path}}" class="attachment-portfolioThumbCropped wp-post-image" alt="{{post.title}}" />
                      <figcaption class="caption">
                        <a class="box" href="{{post.url}}" >{{post.title}}</a>
                      </figcaption>
                    </figure>
                    <p class="subcaption">{{post.title}}</p>
                  </li>
                {% endfor %}   

              </ul>
            </div>
          </div>

          <!-- conselho consultivo -->
          <div id="conselho-consultivo" class="tabcontent">
            <div class="c12 end">
              <ul class="portfolioinner fotos">
                
                {% for post in consultivo %}                               
                  <li class="mix conselho-consultivo">
                    <figure class="rift">
                      <img width="282" height="282"  src="{{post.background_image_path}}" class="attachment-portfolioThumbCropped wp-post-image" alt="{{post.title}}" />
                      <figcaption class="caption">
                        <a class="box" href="{{post.url}}" >{{post.title}}</a>
                      </figcaption>
                    </figure>
                    <p class="subcaption">{{post.title}}</p>
                  </li>
                {% endfor %}

              </ul>
            </div>
          </div>

      </div>
    </div>



    <!-- PRIVATE-EQUITY -->
    <div id='private-equity'>
      <div class="parallaxSection" style="background-image:url({{site.data.pagina-index.background_images.private_equity}});" data-bottom-top="background-position: 50% 300px" data-top-bottom="background-position: 50% -250px;" >
        <div>
          <div class="scrollanimation" data--50-bottom-top ="top:400px;" data--350-top ="top:0px;" style="top:0px;">
            <div class="content editable">
              <h1 class="accent" style="margin-bottom:0em;">PRIVATE EQUITY</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page small-padding" style='background-color:white;' >
      <div class="grid">

          <div class="c12 end">
            <div class="content editable">                  
              <div class="intro-centered">
                <p>{{site.data.pagina-index.private_equity.texto_inicial}}</p>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="c1"></div>
            <div class="c10">
              <ul class="tabs two-tabs">
                <li><a href="#sociedade-gestora">Sociedade Gestora</a></li>
                <li><a href="#fre">Insignya FRE</a></li>
              </ul>
            </div>
            <div class="c1 end"></div>
          </div>

          <div id="sociedade-gestora" class="tabcontent">
            <div class="row">
              <div class="tab-content c12 end">
                <div class="content editable">
                  <p>{{site.data.pagina-index.private_equity.sociedade}}</p>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div id="fre" class="tabcontent">
            <div class="row">
              <div class="tab-content c12 end">
                <div class="content editable">                      
                  <p>{{site.data.pagina-index.private_equity.fre.texto}}</p>
                  <dl>
                    <dt>Tipo de Operações</dt>
                    <dd>{{site.data.pagina-index.private_equity.fre.tipo_operacoes}}</dd>

                    <dt>Empresas-Alvo</dt>
                    <dd>{{site.data.pagina-index.private_equity.fre.empresas_alvo}}</dd>

                    <dt>Setores-alvo</dt>
                    <dd>{{site.data.pagina-index.private_equity.fre.setores_alvo}}</dd>

                    <dt>Estratégia de Investimento</dt>
                    <dd>{{site.data.pagina-index.private_equity.fre.estrategia_invest}}</dd>

                    <dt>Duração prevista</dt>
                    <dd>{{site.data.pagina-index.private_equity.fre.duracao}}</dd>
                    <dt></dt>

                    <dd class="nota">
                      <i>Nota: {{site.data.pagina-index.private_equity.fre.nota}}</i>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
      </div>
    </div>




    <!--CORPORATE FINANCE-->
    <div id="corporate-finance">
      <div class="parallaxSection" style="background-image:url({{site.data.pagina-index.background_images.corporate_finance}});" data-bottom-top="background-position: 50% 300px" data-top-bottom="background-position: 50% -250px;" >
        <div>
          <div class="scrollanimation" data--50-bottom-top ="top:400px;" data--350-top ="top:0px;" style="top:0px;">
            <div class="content editable">
              <h1 class="accent" style="margin-bottom:0em;">CORPORATE FINANCE</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="page small-padding" style='background-color:white;' >
        <div class="grid">
          <div class="c12 end">
            <div class="content editable">
              <div class="intro-centered">
                <p>{{site.data.pagina-index.corporate_finance.texto_inicial}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="c1"></div>
            <div class="c10">
              <ul class="tabs three-tabs">
                <li><a href="#fusoes-aquisicoes">Fusões e Aquisições</a></li>
                <li><a href="#capital-divida">Capital e Dívida</a></li>
                <li><a href="#acessoria-financeira">Assessoria Financeira</a></li>
              </ul>
            </div>
            <div class="c1 end"></div>
          </div>

          <div id="fusoes-aquisicoes" class="tabcontent">
            <div class="row">
              <div class="content editable">
                <div class="tab-content c12 end">
                  <p>{{site.data.pagina-index.corporate_finance.fusao_aquisicao.texto}}</p>
                  <ul>
                    {% for index in site.data.pagina-index.corporate_finance.fusao_aquisicao.lista %}                      
                    <li>{{index.text}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div id="capital-divida" class="tabcontent">
            <div class="row">
              <div class="content editable">
                <div class="tab-content c12 end">
                  <p>{{site.data.pagina-index.corporate_finance.capital_divida}}</p>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div id="acessoria-financeira" class="tabcontent">
            <div class="row">
              <div class="content editable">
                <div class="tab-content c12 end">
                  <p>{{site.data.pagina-index.corporate_finance.assessoria_financeira.texto}}</p>
                  <ul>
                    {% for index in site.data.pagina-index.corporate_finance.assessoria_financeira.lista %}
                    <li>{{index.text}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <!-- Operacoes de acessoria financeira -->
          <div class="row medium-padding">
            <h2 class="centered all-caps">Operações</h2>
            <div class="c12 end">

              <div class="operacoes">
                <ul class="portfolioinner operacoes">
                  {% assign operacoes = site.posts | where: "category" , "portfolios" %}

                  {% for post in operacoes %} 
                  <li class="mix Investimento">
                    <figure class="rift">
                      <img width="282" height="282" src="{{post.fora_image_path}}" class="attachment-portfolioThumbCropped wp-post-image" alt="{{post.title}}" />
                      <figcaption class="caption">
                        <a class="box" href="{{post.url}}">{{post.title}}</a>
                      </figcaption>
                    </figure>
                  </li>
                {% endfor %}

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Contactos -->
    <div id='contact' class="page small-padding" style='background-color:#ffffff;' >
      <div class="parallaxSection" style="background-image:url({{site.data.pagina-index.background_images.contactos}});" data-bottom-top="background-position: 50% 300px" data-top-bottom="background-position: 50% -250px;" >
        <div>
          <div class="scrollanimation" data--50-bottom-top ="top:400px;" data--350-top ="top:0px;" style="top:0px;">
            <div class="content editable">
              <h1 class="accent" style="margin-bottom:0em;">CONTACTOS</h1>
              <p class="fancy-contacto">FALE CONNOSCO</p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div id='contact' class="page" style='background-color:#ffffff;' > -->
      <div class="grid">
        <div class="content editable">
          <div class="c12 end">
            <div class="centered" id="morada">
              <dl>
                <dt>{{site.data.pagina-index.contactos.rua}}</dt>
                <dd>{{site.data.pagina-index.contactos.cod_postal}}</dd>

                <dt><span class="email">{{site.data.pagina-index.contactos.email}}</span> </dt>
                <dd>{{site.data.pagina-index.contactos.telefone}}</dd>
              </dl>
            </div>
          </div>
        </div>
        
        <div class="c12 end ">
          <hr />
        </div>

        <div class="row medium-padding">
          <div class="c12 end ">
            <div id="map_canvas_25" class="googlemap" style="height:350px;width:100%">
              <input class="title" type="hidden" value="Our Office" />
              <input class="location" type="hidden" value="Rua Eugénio de Castro, 352, 2º andar - Sala 28" />
              <input class="zoom" type="hidden" value="13" /><input class="hue" type="hidden" value="#0066a4" />
              <input class="saturation" type="hidden" value="-20" /><input class="lightness" type="hidden" value="-10" />
              <input class="iconLink" type="hidden" value=http://www.insignya.com.s3-website.eu-west-2.amazonaws.com/assets/big_marker.png?b9357f263dc08ebac5156dfb7a58c634 />
              <div class="map_canvas"></div>
            </div>
          </div>
        </div>

        <div class="c12 end ">
          <hr />
        </div>
      </div>
    </div>
  </main>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>