<article id="post-3295" class="post-3295 portfolios type-portfolios status-publish hentry">
    <div class="grid">
        <div class="row"></div>
        <div class="row">
        <div class="c1"></div>
        <div class="c3">
            <div class="person-image">
            <div class="content editable"><img src="{{page.background_image_path}}" alt="{{page.nome-imagem}}"></div>
            </div>

            <div class="content editable">
            <p class="foto-description">{{page.nome-imagem}}</p>
            <p class="align-left">{{page.cargo}}</p>
            <p class="email">{{page.email}}</p>
            </div>
        </div>

        <div class="c7 light-text" style="padding-left: 75px;">
            <div class="content editable">
            <p>{{page.paragrafo1}}</p>
            <p>{{page.paragrafo2}}</p>
            <p>{{page.paragrafo3}}</p>
            <p>{{page.paragrafo4}}</p>
            <p>{{page.paragrafo5}}</p>
            <p>{{page.paragrafo6}}</p> 
            
            {%for page in page.test%}
                <img src="{{page.image_path}}" alt="test">
            {% endfor %}
            </div>           
        </div>
        <div class="c1"></div>
        
        </div>
    </div>
</article>