
<footer class="footer row">
  <div class="grid">
    <div class="frame">
        <div class="c6">
          <span class="small-links grey" style="margin-top:9px;">© Copyright 2015, INSIGNYA</span>
          <span class="helper"></span>
          <a href="https://www.linkedin.com/company/insignya-capital-partners"><img id="logo-footer" src="assets/sites/insig/theme/images/icons/linked_in_bluebaed.svg?9f209175bca1f4357c64f25c6b29a00a" height="50" width="50"/></a>
        </div>

        <div class="c6">
          <div class="portfolioinner small-links">
            <span class="helper"></span>
            <span class="mix"><a href="faq.html">FAQ</a></span>
            <span class="mix"><a href="recrutamento.html">Recrutamento</a></span>
            <span class="mix"><a href="termos-uso.html">Termos de Utilização</a></span>
          </div>
        </div>

    </div>
  </div>
</footer>