<nav id="primary-nav">
    <div id="topbar">
        <span id="active-bar"></span>
    </div>

    <!--Navigation-->
    <div class="mainnav mainnavhide">
        <div class="innernav" >
            <div class="grid">
                <div class="row">
                    <div class="mainLogo">
                        <a href="index-2.html#home" >
                        <img id="mainLogo" style="width: 166px;height:37px;" alt="" src="assets/sites/insig/theme/images/insignia_logo_nav3b41.svg?c04ff7032449c50b59b9dca068cda4b3"/>
                        </a>
                    </div>

                    <span id="menubutton"></span>
                    <ul class="nav-links">
                        <!-- <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1512 current_page_item nav-active">
                        <a href="#home" style="color:#37abee;" id="hide-home-link">Home</a>
                        </li> -->
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1512 current_page_item">
                        <a class="scroll" data-speed="500" href="#quem-somos">
                            Quem Somos
                        </a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page active-children page-section">
                        <a class="scroll" data-speed="500" href="#equipa" >Equipa</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page active-children page-section">
                        <a class="scroll" data-speed="500" href="#private-equity">Áreas de Negócio</a>
                        <ul>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page active-children page-section" >
                            <a class="scroll" data-speed="500" href="#private-equity">Private Equity</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page active-children page-section">
                            <a class="scroll" data-speed="500" href="#corporate-finance">Corporate Finance</a>
                            </li>
                        </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page active-children page-section">
                        <a class="scroll" data-speed="500" href="#contact">Contactos</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>