<body class="home page page-id-1512 page-parent page-template page-template-single-page-php">
    <main id="main" role="main">
  
      <div id="home">
        <div id="superslider_loading"></div>
        <div id="superslider_home">
          <nav class="slides-navigation">
            <a href="#" class="next">Next</a>
            <a href="#" class="prev">Previous</a>
          </nav>
          <ul class="slides-container">
            <!--imagem 1-->
            <li>
              <img src=assets/sites/insig/theme/images/content/parallax1e8e1.jpg?6ada19b97c68acf05e921589c44e97e9 data-0="top:0px;" data-1500="top:650px;"/>
              <div class="slide-caption" data-0='transform:scale(1); top:0px;' data-1400='transform:scale(0.5); top:-100px;'  >
                <img src=assets/sites/insig/theme/images/insignia_logo_2f1d9.svg?19c4a91e3b6c2052334274698ecdb494 alt="Insignia capital" width="534" height="486" class="alignnone size-full" />
              </div>
              <div id="capital-ideas" class="slide-caption" data-0='transform:scale(1); top:30px;' data-1400='transform:scale(0.5); top:-10px;'  style="display:none;">
                <img src=assets/sites/insig/theme/images/capital_ideasb285.svg?d5a1004d5f3c04de2f7fba38f2095f9f alt="Insignya capital ideas" width="386" height="386" class="alignnone size-full" />
              </div>
              <script>
              document.getElementById('capital-ideas').setAttribute('data-0', 'transform: scale(1); top:' + (window.innerHeight / 5 + Math.floor(window.innerHeight / 1000) * 100) + "px;");
            </script>
            </li>
  
            <!--imagem 2-->
            <li>
              <img src=assets/sites/insig/theme/images/content/parallax25e7f.jpg?69f11182f294c5d40cb8ff22fe683fc5 data-0="top:0px;" data-1500="top:650px;"/>
              <div class="slide-caption" data-0='transform:scale(1); top:0px;' data-1400='transform:scale(0.5); top:100px;'  >
                <div class="content editable">
                  <h1><a href="#private-equity">Private Equity</a></h1>
                </div>
              </div>
            </li>
            <!--imagem 3-->
            <li>
              <img src=assets/sites/insig/theme/images/content/parallax3b97f.jpg?ad4138750ae6427c8419074beb973e7f data-0="top:0px;" data-1500="top:650px;"/>
              <div class="slide-caption" data-0='transform:scale(1); top:0px;' data-1400='transform:scale(0.5); top:100px;'  >
                <div class="content editable">
                  <h1><a href="#corporate-finance">Corporate Finance</a></h1>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
  
  