---
title: post
---

<!--<body class="home page page-id-1512 page-parent page-template page-template-single-page-php">-->
<article id="post-3295" class="post-3295 portfolios type-portfolios status-publish hentry">
    <div class="grid">
        <div class="row"></div>
        
        <div class="row">
            <div class="c1"></div>
                {% include equipa.html %}
                <div class="c7 light-text" style="padding-left: 75px;">
                    <div class="content editable">
                        <p>{{content}}</p> 
                        
                        <!--{%for page in page.test%}
                            <img src="{{page.image_path}}" alt="test">
                        {% endfor %}-->
                    </div>
                </div>
            <div class="c1"></div>
        </div>
    </div>
</article>
<!--</body>-->
